/* Docs CSS */

.docsContainer {
	width: 100%;
	max-width: 1100px;
	display: flex;
	padding: 0 20px;
	box-sizing: border-box;
	margin: auto;
	align-items:flex-start;
	align-content:flex-start;
}

.docsContainer > div {
	display: flex;
	flex-direction: column;
}

/* Sidebar/menu to select items */

.docsSidebar {
	flex-shrink: 0;
	top: 30px;
	position: sticky;
	height: auto;
	min-width: 180px;
	max-width: 250px;
	max-height: 90vh;
	overflow-y: scroll;
	background: #eee;
	border-radius: 8px;
	padding: 20px 20px 30px 20px;
	box-sizing: border-box;
}

.docsSidebar span {
	padding: 8px 0;
	color: #000000;
	font-size: 18px;
	display: block;
}

.docsSidebar span:not(:first-child) {
	margin-top: 15px;
}

.docsSidebar .docItem {
	padding: 2px 0;
	text-decoration: none;
	font-size: 15px;
	margin-left: 8px;
	transition: 0.3s .docItemll;
	display: block;
	color: var(--primary-color, #2196F3);
	filter: brightness(60%);
}

.docsSidebar .docItem:hover {
	opacity: 0.6;
}

.docsSidebar .docItem.active {
	filter: brightness(100%);
}

.subMenu .docItem {
	padding: 2px 8px 0 10px;
	color: #555;
	font-size: 14px;
}

.subMenu .docItem:hover {
	opacity: 0.6;
}

.subMenu .docItem.active {
	filter: brightness(120%);
}

.subMenu .docItem.link3 {
	font-size: 13px;
	padding: 0 8px 0 20px;
	color: #6746c1 !important;
}

/* Actual content converted from markdown */

.docsContent {
	margin-left: 5%;
	min-width: 0;
}

.docsContent h1 {
	margin: 0 0 1rem 0;
}

.docsContent h2,
.docsContent h3 {
	margin: 2rem 0 1rem 0;
}

.docsContent pre,
.docsContent blockquote,
.docsContent table {
	margin: 20px 0;
	max-width: 100%;
	width: 100%;
	overflow: scroll;
	border-radius: 6px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

.docsContent pre {
	background: #0a1a36;
	padding: 10px;
	box-sizing: border-box;
}

.docsContent pre code {
	text-align: left;
	background: 0 !important;
	color: #eee !important;
}

.docsContent .hljs-keyword {
	color: #b28bff;
}

.docsContent code {
	background: rgb(28, 30, 53);
	color: #eee;
	border-radius: 4px;
	padding: 4px 7px;
}

.docsContent table {
	border-collapse: collapse;
	overflow: hidden;
}

.docsContent th,
.docsContent td {
	padding: 13px 20px;
	overflow: hidden;
}

.docsContent tbody {
	max-height: 585px;
	overflow: auto;
}

.docsContent th {
	color: #fff;
	background: var(--primary-color, #2196F3);
}

.docsContent td {
	color: #333;
}

.docsContent tr:nth-child(even) {
	background: #f8f6ff;
}


.docsContent img {
	max-width: 100%;
	display: block;
	text-align: center;
	margin: auto;
}

.docsContent blockquote {
	border-left: 5px solid var(--primary-color, #2196F3);
	padding-left: 1rem;
	font-style: italic;
	background-color: #EEF9FF;
	padding: 0.5rem 1rem;
}

/* Handle responsive */

@media only screen .docItemnd (max-width: 900px) {
	
	.docsSidebar {
		width: 100%;
		position: relative;
		max-width: none;
	}

	.docsContent {
		margin: 40px 0 0 0;
	}

	.docsContainer {
		width: 100%;
		box-sizing: border-box;
		display: block;
	}
}